.del-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  background: #fdf3f0;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(184, 20, 20, 0.1);
}

.del-container h2 {
  text-align: center;
  color: #ff5722;
  margin-bottom: 25px;
}

.order-history-card {
  background: #c6800f;
  padding: 15px 20px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  margin-top: 10px;
}

.history-item {
  background: #fff8f0;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.history-item p {
  margin: 4px 0;
  font-size: 15px;
}

.history-item ul {
  margin: 8px 0;
  padding-left: 20px;
}

.history-item ul li {
  margin-bottom: 6px;
}

.mapbtn {
  display: inline-block;
  margin-left: 10px;
  padding: 4px 8px;
  background: #ff5722;
  color: #fff;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  transition: all 0.3s ease;
}

.mapbtn:hover {
  background: #e64a19;
}
.remove-history-btn {
  margin-top: 10px;
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  background: #d32f2f;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.remove-history-btn:hover {
  background: #b71c1c;
}

